*.c    diff=cpp
*.h    diff=cpp
*.cpp  diff=cpp
*.hpp  diff=cpp
*.py   diff=python

# GitHub Settings (these settings apply only to GitHub not FreeBSD OS base system)
*.html linguist-detectable=false
*.cpp linguist-detectable=false
*.hpp linuist-detectable=false
