*.a
*.core
*.o
*.orig
*.rej
*.so
*.sw[nop]
*~
_.tinderbox.*
_.universe-toolchain
_.amd64.*
_.arm.*
_.arm64.*
_.i386.*
_.powerpc.*
_.riscv.*
GPATH
GRTAGS
GTAGS
ID
cscope.files
cscope.in.out
cscope.out
cscope.po.out
compile_commands.json
compile_commands.events.json
tags
.cache
.clangd
.ccls-cache
sys/*/compile

# Pixi
.pixi.lock
.pixi.toml

# Python
__mojocache__/
__pycache__/
*.py[cod]
*.egg
*.egg-info
*.egg-info/
dist/
build/
*.joblib
*.so
*.pyd

# Virtual environments
.cache/
.venv/
venv/
env/
.pixi/
.kaggle-env/
.kaggle/
.bak
.pixi

# dotenv
.env

# Jupyter Notebooks
.ipynb_checkpoints/


# Node / frontend
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log


# VSCode, PyCharm
.vscode/
.idea/

# GitHub
*~
*.h
*.c
*.cpp
*.rs
*.rlib
*.cu
*.cuh
*.pt
*.pth
*.pb
.cache



